<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected Comment</title>
</head>

<body>
    <h1>Here is the selected comment</h1>
    <b>
        <%=comment.username%>
    </b> - <%=comment.comment%>
        <br>
        <a href="/comments">Go back to all comments</a>
</body>

</html>